{{#if large}}

<!-- Large -->
<form role="search" {{action "sendSearch"  on="submit"}} >
    <div class="form-group">
        <label class="sr-only" for="large-search-text-box">Search MyFDA</label>
        <div id="dashboard-search" class="input-group">
            {{input id="large-search-text-box" type="text" name="name" class="form-control drug-search input-lg" placeholder="Search drugs by name..."}}
            <span class="input-group-btn">
                <button id="large-search-button" type="submit" class="btn btn-primary input-lg"><i class="fa fa-search"></i> Search</button>
            </span>
        </div>
    </div>
</form>

{{else}}

<!-- Small -->
<form {{action "sendSearch"  on="submit"}} role="search" class="navbar-form navbar-left">
  <div class="form-group">
    <label class="sr-only" for="small-search-text-box">Search MyFDA</label>
    <div class="input-group">
        {{input id="small-search-text-box" type="text" name="name" class="form-control drug-search" placeholder="Search..."}}
      <span class="input-group-btn">
        <button id="small-search-button" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span class="sr-only">Search</span></button>
      </span>
    </div>
  </div>
</form>

{{/if}}
