{{#if large}}

<!-- Large -->
<form role="search" {{action "sendSearch"  on="submit"}} >
    <div class="form-group">
        <label class="sr-only">Search MyFDA</label>
        <div id="dashboard-search" class="input-group">
            {{input type="text" name="name" class="form-control drug-search input-lg" placeholder="Search drugs by name..."}}
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary input-lg"><i class="fa fa-search"></i> Search</button>
            </span>
        </div>
        <p>You will be able to save drugs in order to receive FDA recall alerts.</p>
    </div>
</form>

{{else}}

<!-- Small -->
<form {{action "sendSearch"  on="submit"}} role="search" class="navbar-form navbar-left">
  <div class="form-group">
    <label class="sr-only">Search MyFDA</label>
    <div class="input-group">
        {{input type="text" name="name" class="form-control drug-search" placeholder="Search..."}}
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</form>

{{/if}}
