<section id="dashboard-public">
	<div class="container">
	
	    <div class="row">
	        <div class="col-sm-4">
		        <p class="lead"><strong><i class="fa fa-search fa-fw"></i> Search</strong> for prescription and over-the-counter drugs by name.</p> 
		        <hr />
	        </div>
	        <div class="col-sm-4">
		        <p class="lead"><strong><i class="fa fa-bar-chart fa-fw"></i> View</strong> FDA drug recalls and reported adverse effects.</p> 
		        <hr />
	        </div>
	        <div class="col-sm-4">
		        <p class="lead"><strong><i class="fa fa-bookmark fa-fw"></i> Save</strong> drugs you commonly take to My Meds for future reference.</p> 
		        <hr />
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-4">
				<p class="lead"><strong><i class="fa fa-plus-square fa-fw"></i> Create</strong> customized medication lists for the people you care for.</p> 
		        <hr class="visible-xs" />
	        </div>
	        <div class="col-sm-4">
				<p class="lead"><strong><i class="fa fa-flask fa-fw"></i> Research</strong> symptoms in My Meds to determine possible causes.</p> 
		        <hr class="visible-xs" />
	        </div>
	        <div class="col-sm-4">
				<p class="lead"><strong><i class="fa fa-exclamation-triangle fa-fw"></i> Notify</strong> me of any new FDA drug safety recalls in My Meds.</p> 
		        <hr class="visible-xs" />
	        </div>
	    </div>
    
	    <div class="page-header"><h2>Latest Drug Recalls</h2></div>
	
	    {{#each model.results as |recall|}}
        <div class="recall">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <h3 class="title-recall"><span class="label label-success">{{recall.status}}</span> Recall Number: {{recall.recall_number}}</h3>
                    <p><strong class="prepend">Product Description:</strong> {{recall.product_description}}</p>
                    <p><strong class="prepend">Recall Reason:</strong> {{recall.reason_for_recall}}</p>
                    <p><strong class="prepend">Initiation Date:</strong> {{format-date recall.recall_initiation_date}} &bull; <strong class="prepend">Report Date:</strong> {{format-date recall.report_date}}</p>
                    <p><strong class="prepend">Reporting Firm:</strong> {{recall.recalling_firm}}</p>
                </div>
                <div class="col-sm-4 col-md-3 text-center">
                    <h4>Recall Distribution:</h4>
					<ul class="list-inline">
	                {{#if recall.distribution_pattern}}
	                    {{#each recall.distribution_pattern as |state|}}
	                        <l1><span class="label label-info">{{state}}</span></l1>
	                    {{/each}}
	                {{else}}
	                    <l1><span class="label label-info">USA</span></l1>
	                {{/if}}
	                </ul>
                    {{us-maps distribution_pattern=recall.distribution_pattern}}
                </div>
            </div>
            <hr />
        </div>
	    {{/each}}

	</div>
</section>
