<h3 class="h2">Adverse Effects</h3>
<form role="search">
    <div class="form-group">
        <label class="sr-only">Search Effects</label>
        <div class="input-group">
            {{input type="text" value=effectSearchQuery class="form-control" placeholder="Search effects this drug may cause" }}
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>
<br>
{{#if effectSearchQuery}}<h4> Results for: {{effectSearchQuery}}</h4>{{/if}}

<div class="panel-group" id="effects" role="tablist" aria-multiselectable="true">

    {{#if effectSearchQuery}}
		{{#if effectSearchResults}}
		    <!-- There is a match -->
			{{#each effectSearchResults as |effect|}}
				{{effect-accordion name=effect.effect count=effect.count percent=effect.percent description=effect.description}}
			{{/each}}
		{{else}}
		<!-- No results for effect query -->
			<h5>No adverse effects found for {{effectSearchQuery}}</h5>
		{{/if}}
	{{else}}
		<!-- Otherwise, show them all -->
        {{#each model.effects.effect as |effect|}}
            {{effect-accordion name=effect.effect count=effect.count percent=effect.percent description=effect.description}}
        {{/each}}
	{{/if}}
</div>
