<h3 class="h2">Drug Interactions</h3>
{{#if model.interactions.interactions}}
	{{#each model.interactions.interactions as |interaction|}}
		<hr />
		<h4 class="h3">{{interaction.fromDrug}} <i class="fa fa-random text-danger"></i> {{interaction.toDrug}}</h4>
		<p class="lead">{{interaction.interaction}}</p>
		<p><a href="{{interaction.link}}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> More Info</a></p>
	{{/each}}
{{else}}
	<p class="lead">No interactions have been reported for this drug.</p>
{{/if}}
