<h2>Drug Interactions</h2>
<p class="lead">Drug interactions are tracked by active ingredient. The name to the left of the arrow is an ingredient contained in this drug. The name on the right indicates what drug this ingredient interacts with.</p>
<hr />
{{#if model.interactions.interactions}}
	{{#each model.interactions.interactions as |interaction|}}
		<div class="interaction">
			<h4 class="h3">{{interaction.fromDrug}} <i class="fa fa-random text-danger"></i> {{interaction.toDrug}}</h4>
			<p>{{interaction.interaction}}</p>
			<ul class="list-inline">
				<li><strong>Brand Name Drugs Containing {{interaction.toDrug}}:</strong></li>
        {{#if interaction.toDrugNames.isPending}}
            Loading...
        {{else}}
          {{#each interaction.toDrugNames.content as |brandName|}}
            <li>{{brandName}}</li>
          {{/each}}
        {{/if}}
			</ul>
			<hr />
		</div>
	{{/each}}
{{else}}
	<div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> No interactions have been reported for this drug.</div>
{{/if}}
