<h2>Drug Recalls</h2>
<p class="lead">Recall details are shown for all drugs with the same active ingredient as the chosen drug. Please read the Product Description carefully and consult the distribution map to determine if the recall effects you.</p>
<hr />
{{#if model.recalls.results}}
  {{#each model.recalls.results as |recall|}}
      <div class="recall">
          <div class="row">
              <div class="col-sm-8 col-md-9">
                  <h4 class="h3 title-recall"><span class="label label-success">{{recall.status}}</span> {{recall.openfda.brand_name}}</h4>
                  <p><strong class="prepend">Product Description:</strong> {{recall.product_description}}</p>
                  <p><strong class="prepend">Identifiers:</strong> {{recall.code_info}}</p>
                  <p><strong class="prepend">Recall Reason:</strong> {{recall.reason_for_recall}}</p>
                  <p><strong class="prepend">Initiation Date:</strong> {{format-date recall.recall_initiation_date}} &bull; <strong class="prepend">Recall Number:</strong> {{recall.recall_number}}</p>
                  <p><strong class="prepend">Report Date:</strong> {{format-date recall.report_date}} &bull; <strong class="prepend">Reporting Firm:</strong> {{recall.recalling_firm}}</p>
                  <p></p>
              </div>
              <div class="col-sm-4 col-md-3 text-center recall-map">
                  <h5 class="h4">Affected States:</h5>
          				<ul class="list-inline clearfix">
                  {{#if recall.distribution_pattern}}
                      {{#each recall.distribution_pattern as |state|}}
                          <l1><span class="label label-info">{{state}}</span></l1>
                      {{/each}}
                  {{else}}
                      <l1><span class="label label-info">Nationwide</span></l1>
                  {{/if}}
                  </ul>
                  <div class="wrapper-map clearfix">{{us-maps distribution_pattern=recall.distribution_pattern}}</div>
              </div>
          </div>
          <hr />
      </div>
  {{/each}}
{{else}}
  <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> No recalls have been reported for this drug.</div>
{{/if}}
