<div class="panel-body">
  <p class="lead">{{description}}</p>
  <!-- SEVERITY -->
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4>Reported Severity</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-info" style={{progress-bar-percentage model.outcomeCount.Outcome1.pct}} data-toggle="tooltip" data-placement="bottom" title="Fully Recovered">
          {{model.outcomeCount.Outcome1.count}}
        </div>
        <div class="progress-bar progress-bar" style={{progress-bar-percentage model.outcomeCount.Outcome2.pct}} data-toggle="tooltip" data-placement="bottom" title="Improving">
          {{model.outcomeCount.Outcome2.count}}
        </div>
        <div class="progress-bar progress-bar-success" style={{progress-bar-percentage model.outcomeCount.Outcome3.pct}} data-toggle="tooltip" data-placement="bottom" title="Persisting Condition">
          {{model.outcomeCount.Outcome3.count}}
        </div>
        <div class="progress-bar progress-bar-warning" style={{progress-bar-percentage model.outcomeCount.Outcome4.pct}} data-toggle="tooltip" data-placement="bottom" title="Recovered with Consequences">
          {{model.outcomeCount.Outcome4.count}}
        </div>
        <div class="progress-bar progress-bar-danger" style={{progress-bar-percentage model.outcomeCount.Outcome5.pct}} data-toggle="tooltip" data-placement="bottom" title="Death">
          {{model.outcomeCount.Outcome5.count}}
        </div>
      </div>
      <small>
        <span class="label label-info">Fully Recovered</span>
        <span class="label label-primary">Improving</span>
        <span class="label label-success">Persisting Condition</span>
        <span class="label label-warning">Recovered with Consequences</span>
        <span class="label label-danger">Death</span>
      </small>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-4 text-center">
      <!-- GENDER -->
      <h4>Reported by Gender</h4>
      <div class="row">
        <div class="col-xs-6">
          <p class="lead male">
            <i class="fa fa-male fa-3x"></i><br />
            {{model.genderCount.male.pct}}% <small>Male</small>
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead female">
            <i class="fa fa-female fa-3x"></i><br />
            {{model.genderCount.female.pct}}% <small>Female</small>
          </p>
        </div>
      </div>
      <hr class="visible-xs" />
    </div>
    <div class="col-sm-8">
      <!-- AGES -->
      <h4>Ages Effected</h4>
       {{chartist-chart type="line" options=model.chartOptions data=model.ageCount.results }}
    </div>
  </div>
</div>
