<div class="panel-body text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4>Reported Severity</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-info" style={{progress-bar-percentage model.outcomeCount.Outcome1.pct}}>
          <span class="sr-only">{{model.outcomeCount.Outcome1.count}}</span>
        </div>
        <div class="progress-bar progress-bar" style={{progress-bar-percentage model.outcomeCount.Outcome2.pct}}>
          <span class="sr-only">{{model.outcomeCount.Outcome2.count}}</span>
        </div>
        <div class="progress-bar progress-bar-success" style={{progress-bar-percentage model.outcomeCount.Outcome3.pct}}>
          <span class="sr-only">{{model.outcomeCount.Outcome3.count}}</span>
        </div>
        <div class="progress-bar progress-bar-warning" style={{progress-bar-percentage model.outcomeCount.Outcome4.pct}}>
          <span class="sr-only">{{model.outcomeCount.Outcome4.count}}</span>
        </div>
        <div class="progress-bar progress-bar-danger" style={{progress-bar-percentage model.outcomeCount.Outcome5.pct}}>
          <span class="sr-only">{{model.outcomeCount.Outcome5.count}}</span>
        </div>
      </div>
      <ul class="list-inline text-center">
        <li><span class="label-severity text-info"><i class="fa fa-square"></i> <strong>{{model.outcomeCount.Outcome1.count}}</strong> Fully Recovered</span></li>
        <li><span class="label-severity text-primary"><i class="fa fa-square"></i> <strong>{{model.outcomeCount.Outcome2.count}}</strong> Improving</span></li>
        <li><span class="label-severity text-success"><i class="fa fa-square"></i> <strong>{{model.outcomeCount.Outcome3.count}}</strong> Persisting Condition</span></li>
        <li><span class="label-severity text-warning"><i class="fa fa-square"></i> <strong>{{model.outcomeCount.Outcome4.count}}</strong> Recovered with Consequences</span></li>
        <li><span class="label-severity text-danger"><i class="fa fa-square"></i> <strong>{{model.outcomeCount.Outcome5.count}}</strong> Death</span></li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-4 text-center">
      <h4>Reported by Gender</h4>
      <div class="row">
        <div class="col-xs-6">
          <p class="lead male">
            <i class="fa fa-male fa-3x"></i><br />
            {{model.genderCount.male.pct}}% <small>Male</small>
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead female">
            <i class="fa fa-female fa-3x"></i><br />
            {{model.genderCount.female.pct}}% <small>Female</small>
          </p>
        </div>
      </div>
      <hr class="visible-xs" />
    </div>
    <div class="col-sm-8">
      <h4>Reported by Age</h4>
      {{chartist-chart type="line" options=model.chartOptions data=model.ageCount.results }}
    </div>
  </div>
</div>
