<!-- Hero Search -->
<section id="hero" class="section">
    <div class="container">
        <div class="jumbotron text-center">
        {{#if UserData.anonymous}}
            <h1>Helpful Information About FDA-Regulated Drugs</h1>
        {{else}}
            <h1>Find drugs to add to My Meds</h1>
        {{/if}}
            {{autocomplete-search large=true action="performSearch"}}
        </div>
    </div>
</section>

<!-- Dashboards -->
{{#if UserData.anonymous}}
    {{partial "dashboards/unauthenticated"}}
{{else}}
    {{partial "dashboards/authenticated"}}
{{/if}}
