<section id="page-header" class="section">
	<div class="container">
		<h1>
			{{#if UserData.isOtc}}
				<img src="assets/images/otc.png" title="Available Over-the-counter" class="img-responsive pull-left" width="35" height="35" />
			{{else}}
				<img src="assets/images/rx.png" title="Available by Prescription Only" class="img-responsive pull-left" width="35" height="35" />
			{{/if}}
			{{#if drugName}}
				{{drugName}}
				<small>{{model.genericName}}</small>
			{{else}}
				{{model.genericName}}
			{{/if}}
		</h1>
	</div>
</section>

<section id="drug-details" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<ul class="nav nav-pills nav-stacked nav-details" role="tablist">
					<li role="presentation" class="active"><a href="#drug-recalls" aria-controls="drug-recalls" role="tab" data-toggle="tab">Drug Recalls</a></li>
					<li role="presentation"><a href="#drug-effects" aria-controls="drug-effects" role="tab" data-toggle="tab">Adverse Effects</a></li>
					<li role="presentation"><a href="#drug-interactions" aria-controls="drug-interactions" role="tab" data-toggle="tab">Drug Interactions</a></li>
				</ul>
					{{#if UserData.anonymous}}
						<div class="well">
							<h5>
								<i class="fa fa-exclamation-circle"></i> Log In to add drugs to MyMEDS
							</h5>
							<p>MyMeds is a place where you can track your current medications for quick reference.</p>
						</div>
					{{else}}
						<div class="btn btn-default btn-block" {{action "saveDrugToPortfolio" model.effects.UNII drugName UserData.links.portfolio}}>
							<i class="fa fa-bookmark"></i> Add to My Meds
						</div>
					{{/if}}
				<hr class="visible-xs" />
			</div>
			<div class="col-sm-8 col-md-9">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="drug-recalls">
						{{partial "drug/recalls"}}
					</div>
					<div role="tabpanel" class="tab-pane fade" id="drug-effects">
						{{partial "drug/effects"}}
					</div>
					<div role="tabpanel" class="tab-pane fade" id="drug-interactions">
						{{partial "drug/interactions"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
