<section id="drug-details" class="section">
	<div class="container">
		<div class="page-header clearfix">
			<h2 class="pull-left">{{drugName}}</h2>
			{{#if UserData.anonymous}}
				<h5 class="pull-right">
					Log In to add drugs to My Meds
				</h5>
			{{else}}
				<div class="btn btn-default pull-right" {{action "saveDrugToPortfolio" model.effects.UNII drugName UserData.links.portfolio}}>
					<i class="fa fa-bookmark"></i> Add to My Meds
				</div>
			{{/if}}
		</div>

		{{#if model.recalls.results}}
			{{partial "drug/has-recalls"}}
		{{else}}
			{{partial "drug/has-no-recalls"}}
		{{/if}}
	</div>
</section>
