<section id="drug-details" class="section">
	<div class="container">
		<div class="page-header clearfix">
			<h2 class="pull-left">{{drugName}}</h2>
			<div class="btn btn-default pull-right" {{action "saveDrugToPortfolio" model.effects.UNII}}>
				<i class="fa fa-bookmark"></i> Add to My Meds
			</div>
		</div>
		{{#if model.recalls.results}}
			{{partial "drug/has-recalls"}}
		{{else}}
			{{partial "drug/has-no-recalls"}}
		{{/if}}
	</div>
</section>
