<section id="style-guide" class="section">
	<div class="container">
		<div class="page-header"><h1>Style Guide <small>Based off Bootstrap</small></h1></div>
		<p class="lead">We've chosen <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> for our front-end HTML, CSS, and javascript framework. We've also chosen <a href="http://fontawesome.io/" target="_blank">Fontawesome</a> font icons. Below you'll find elements we've used and their customizations.</p>
		<hr />
		<div class="row">
			<div class="col-sm-4">
				<h2>Typography</h2>
				<h3 class="text-muted">Headings</h3>
				<h1>h1. Bootstrap heading</h1>
				<h2>h2. Bootstrap heading</h2>
				<h3>h3. Bootstrap heading</h3>
				<h4>h4. Bootstrap heading</h4>
				<h5>h5. Bootstrap heading</h5>
				<h6>h6. Bootstrap heading</h6>
				<hr />
				<h3 class="text-muted">Body Copy</h3>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
				<p><strong class="prepend">Prepend:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<hr />
				<h3 class="text-muted">Lead</h3>
				<p class="lead"><strong><i class="fa fa-search fa-fw"></i> SEARCH</strong> Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<p class="lead"><strong><i class="fa fa-bookmark fa-fw"></i> SAVE</strong> Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<p class="lead"><strong><i class="fa fa-exclamation-triangle fa-fw"></i> NOTIFY</strong> Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<hr />
				<h2>Search Forms</h2>
				<h4>Hero Search</h4>
				<form role="search">
				    <div class="form-group">
				        <label class="sr-only">Search MyFDA</label>
				        <div id="dashboard-search" class="input-group">
				            <input type="text" name="name" class="form-control drug-search input-lg" placeholder="Search drugs by name..."/>
				            <span class="input-group-btn">
				                <button class="btn btn-primary input-lg"><i class="fa fa-search"></i> Search</button>
				            </span>
				        </div>
				    </div>
				</form>
				<h4>Small Search</h4>
				<form role="search" class="navbar-form example">
				  <div class="form-group">
				    <label class="sr-only">Search MyFDA</label>
				    <div class="input-group">
				        <input type="text" name="name" class="form-control drug-search" placeholder="Search..." />
				      <span class="input-group-btn">
				        <button class="btn btn-default"><i class="fa fa-search"></i></button>
				      </span>
				    </div>
				  </div>
				</form>
				<hr />
				<h2>Buttons</h2>
				<p><button class="btn btn-primary">Primary Button</button></p>
				<p><button class="btn btn-default">Default Button</button></p>
				<p><button class="btn btn-fb">Facebook Button</button></p>
				<hr />
				<div class="row">
					<div class="col-xs-6">
						<h2>Labels</h2>
		        <p><span class="label label-success">Label</span></p>
						<p>
							<span class="label-severity text-info"><i class="fa fa-square"></i> Info</span><br />
							<span class="label-severity text-primary"><i class="fa fa-square"></i> Primary</span><br />
							<span class="label-severity text-success"><i class="fa fa-square"></i> Success</span><br />
							<span class="label-severity text-warning"><i class="fa fa-square"></i> Warning</span><br />
							<span class="label-severity text-danger"><i class="fa fa-square"></i> Danger</span>
						</p>
					</div>
					<div class="col-xs-6">
						<h2>Icons</h2>
						<p>
							<i class="fa fa-search"></i> Search<br />
							<i class="fa fa-bar-chart"></i> Bar Chart<br />
							<i class="fa fa-bookmark"></i> Bookmaek<br />
							<i class="fa fa-square"></i> Square<br />
							<i class="fa fa-plus-square"></i> Plus Square<br />
							<i class="fa fa-flask"></i> Flask<br />
							<i class="fa fa-exclamation-triangle"></i> Exclamation Triangle<br />
							<i class="fa fa-info-circle"></i> Info Circle<br />
							<i class="fa fa-facebook-official"></i> Facebook Official<br />
							<i class="fa fa-chevron-down"></i> Chevron Down<br />
							<i class="fa fa-random"></i> Chevron Down<br />
							<i class="fa fa-male"></i> Male<br />
							<i class="fa fa-female"></i> Female
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-md-7 col-md-offset-1">
				<h2>Search Results</h2>
				<div class="drug">
					<span {{action 'setCurrentDrug' result.brandName result.unii}} >
						<h3>
							Brand Name
							<small>(Generic Name)</small>
						</h3>
					</span>
					<p class="active-ingredients"><strong class="prepend">Active Ingredient(s):</strong>
						<span class="active-ingredient">Active Ingredient</span>
					</p>
					<p>
						<div class="btn btn-default">
							<i class="fa fa-info-circle"></i> Learn More
						</div>
						<div class="btn btn-default">
							<i class="fa fa-bookmark"></i> Add to My Meds
						</div>
					</p>
				</div>
				<hr />
				<h2>Drug Details</h2>
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation" class="active"><a href="#drug-recalls" aria-controls="drug-recalls" role="tab" data-toggle="tab">Recalls</a></li>
					<li role="presentation"><a href="#drug-effects" aria-controls="drug-effects" role="tab" data-toggle="tab">Adverse Effects</a></li>
					<li role="presentation"><a href="#drug-interactions" aria-controls="drug-interactions" role="tab" data-toggle="tab">Drug Interactions</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="drug-recalls">
						<h3 class="h2">Drug Recalls</h3>
						<hr />
						<div class="recall">
				        <div class="row">
				            <div class="col-sm-8 col-md-9">
				                <h4 class="h3 title-recall"><span class="label label-success">Reccall Status</span> Recall Number: Recall Number</h4>
				                <p><strong class="prepend">Product Description:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
				                <p><strong class="prepend">Recall Reason:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
				                <p><strong class="prepend">Initiation Date:</strong> MM/DD/YYYY &bull; <strong class="prepend">Report Date:</strong> MM/DD/YYYY</p>
				                <p><strong class="prepend">Reporting Firm:</strong> ABC Reporting Firm</p>
				            </div>
				            <div class="col-sm-4 col-md-3 text-center">
				                <h5 class="h4">Recall Distribution:</h5>
				                {{us-maps}}
				            </div>
				        </div>
				        <hr />
				    </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="drug-effects">
						<h3 class="h2">Adverse Effects</h3>
						<hr />
						  <div class="panel-heading" role="tab" id="{{effect-slug name}}">
						    <h4 class="panel-title">
						      <a class="wrapper-header" role="button" data-toggle="collapse" data-parent="#effects" data-target="#adverse-effect">
						        {{easy-pie-chart size=35 dataPercent=62 percentText=" " percentSign=" " barColor="#3366cc" trackColor="#eee" lineWidth="3" animate="1500" scaleLength=0}}
						        <i class="fa fa-chevron-down fa-2x toggle-icon" data-toggle="tooltip" data-placement="left" title="Click to toggle details."></i>
						        <div class="effect-header">
						            Adverse Effect Name
						            <span class="count">1000 Cases Reported</span>
						            <small class="description">Adverse effect description.</small>
						        </div>
						      </a>
						    </h4>
						  </div>
						<div id="adverse-effect" class="panel-collapse panel-details collapse" role="tabpanel">
							<div class="panel-body text-center">
							  <div class="row">
							    <div class="col-xs-12 col-sm-12">
							      <h4>Reported Severity</h4>
							      <div class="progress">
							        <div class="progress-bar progress-bar-info" style="width: 35%">
							          <span class="sr-only">35%</span>
							        </div>
							        <div class="progress-bar progress-bar" style="width: 30%">
							          <span class="sr-only">30%</span>
							        </div>
							        <div class="progress-bar progress-bar-success" style="width: 25%">
							          <span class="sr-only">25%</span>
							        </div>
							        <div class="progress-bar progress-bar-warning" style="width: 7%">
							          <span class="sr-only">7%</span>
							        </div>
							        <div class="progress-bar progress-bar-danger" style="width: 3%">
							          <span class="sr-only">3%</span>
							        </div>
							      </div>
							      <p>
							        <span class="label-severity text-info"><i class="fa fa-square"></i> <strong>350</strong> Fully Recovered</span><br />
							        <span class="label-severity text-primary"><i class="fa fa-square"></i> <strong>300</strong> Improving</span><br />
							        <span class="label-severity text-success"><i class="fa fa-square"></i> <strong>250</strong> Persisting Condition</span><br />
							        <span class="label-severity text-warning"><i class="fa fa-square"></i> <strong>70</strong> Recovered with Consequences</span><br />
							        <span class="label-severity text-danger"><i class="fa fa-square"></i> <strong>30</strong> Death</span>
							      </p>
							    </div>
							  </div>
							  <hr />
							  <div class="row">
							    <div class="col-sm-4 text-center">
							      <h4>Reported by Gender</h4>
							      <div class="row">
							        <div class="col-xs-6">
							          <p class="lead male">
							            <i class="fa fa-male fa-3x"></i><br />
							            49% <small>Male</small>
							          </p>
							        </div>
							        <div class="col-xs-6">
							          <p class="lead female">
							            <i class="fa fa-female fa-3x"></i><br />
							            51% <small>Female</small>
							          </p>
							        </div>
							      </div>
							      <hr class="visible-xs" />
							    </div>
							    <div class="col-sm-8">
							      <h4>Reported by Age</h4>
							      {{chartist-chart type="line" options=model.chartOptions data=model.ageCount.results }}
							    </div>
							  </div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="drug-interactions">
						<h3 class="h2">Drug Interactions</h3>
						<hr />
						<h4 class="h3">Current Drug <i class="fa fa-random text-danger"></i> Interacting Drug</h4>
						<p class="lead">Interaction description.</p>
						<p><a href="#" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> More Info</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
